In [ ]:
class customer:
    cust_count=0
    cust_details={}
    def __init__(self, cname, age, email, phone, address, adhaar):
        self.c_name=cname
        self.c_age=age
        self.c_email=email
        self.c_phone=phone
        self.c_address =address
        self.c_adhaar=adhaar
        self.inc_cust_count()
        self.cust_id=1560+self.cust_count
        self.concat_cust(self.cust_id, self)
    @classmethod
    def inc_cust_count(cls):
        cls.cust_count+=1
    @classmethod
    def concat_cust(cls, id, self): cls.cust_details[id]self
customer('rahul', 23, 'rahul@gmail.com', 9977441133, 'gdv', 12345678963)
class product:
    prod_count = 0
    prod_details={}
    def __init__(self, type_of_prod, name, desc, price, discount, quantity, dom, doe,):
        self.type_of_prod-type_of_prod
        self.p_name =name
        self.p_desc=desc
        self.p_price =price 
        self.p_discount = discount
        self.p_quantity= quantity
        self.p_dom = dom
        self.p_doe = doe
        self.inc_prod_count()
        self.prod_id =7560+self.prod_count
        self.concat_prod(self.prod_id, self)
    @classmethod
    def inc_prod_count(cls):
     cls.prod_count += 1
    @classmethod
    def concat_prod(cls, id, self):
     cls.prod_details[id] = self
    def change_discount(self):
     self.p_discount =int(input("Enter the New Discount Value:"))
    @classmethod
    def inc_prod_count(cls):
     cls.prod_count1+=1
    @classmethod 
    def concat_prod(cls, id, self):
        cls.prod_details[id]= self
    def change_discount(self):
        self._discountwint(input("Enter the New Discount Value:"))
    def change_inc_quantity(self):
        self.p_quantity= int(input("Enter the New quantity Value:"))
    def change_dec_quantity(self, value):
        self.p_quantity-=value
    @classmethod
    def display prod_details(cls):
    P_list= cls.prod_details
    print('Product_id', 'type_of_prod', 'name', 'desc', 'price', 'discount', 'quanti',)
for i in p_list:
print(p_list(i).prod_id,p_list[i].type_of_prod, p_list[i].p_name,
P_list[i].p_desc, p_list[i].p_price,
p_list[i].p_discount,
p_list(i).p_quantity,
p_list[i].p_dom, p_list[i].p_doe,sep=" | ")
@classmethod
def unique_type_prods(cls):
uni=[]
for i in cls.prod_details:
I
if cls.prod_details[i].type_of_prod. upper() not in uni:
uni+s[cls.prod_details[i].type_of_prod.upper()1
print(uni)

In [28]:
class school:
    name='vikas'
    adress='hyd'
    phone=98907654
    roll=1
    def __init__(self,name,clas,phone):
        self.name=name
        # self.roll
        self.roll_inc()
        self.clas=clas
        self.phone=phone

    @classmethod
    def roll_inc(cls):
   
        cls.roll+=1
ramu=school('ramu',5,90987687654)
karthik=school('karthik',5,9898786547)

In [29]:
karthik.roll

3

In [43]:
class ho:
    count=0
    data={}
    def __init__(self,name):
        self.name=name
        self.countt()
        self.id=400+ho.count
        self.dataa(self.id,self)
        self.var()
    @classmethod
    def countt(cls):
        cls.count+=1
    @classmethod
    def dataa(cls,id,boj_data):
        cls.data[id]=boj_data
    def var(self):
        self.name2='dfsdfs'
    

oj=ho('sai')
print(ho.count)
print(ho.data)
print(ho.data[401].__dict__)

1
{401: <__main__.ho object at 0x0000012488F464D0>}
{'name': 'sai', 'id': 401, 'name2': 'dfsdfs'}

In [7]:
class school:
    s_name='vikas'
    s_address='hyd'
    roll=int(input('enter the last roll number'))
    count=0
    def __init__(self,name,number):
        self.st_name=name
        self.st_number=number
        # self.st_roll()
        print(school.count)
        self.count=school.count
        self.st_roll=school.roll
    @classmethod
    def st_roll(cls):
        cls.roll+=1 
    # @classmethod 
    # def count(cls):
        # cls.count+=1
    if count==object:
        count+=1

ram=school('ram',8765436787)
kiran=school('kiran',987967543)

0
0

In [8]:
ram.__dict__

{'st_name': 'ram', 'st_number': 8765436787, 'count': 0, 'st_roll': 7}

In [50]:
kiran.__dict__

{'st_name': 'kiran',
 'st_number': 987967543,
 'count': <bound method school.count of <class '__main__.school'>>,
 'st_roll': 1}

In [48]:
class schooll:
    s_name='sai'
    address='hyd'
    no_of_stu=0
    stu_dic={}
    def __init__(self,name,phone,section):
        self.name=name
        self.phone=phone
        self.section=section
        schooll.no_of_stu=schooll.no_of_stu+1
        self.stu_id=0+schooll.no_of_stu
        self.add(self.stu_id,self)
    
    @classmethod
    def add(cls,id,objj):
        cls.stu_dic[id]=objj
obj=schooll('imrn',2234555,3)
obj2=schooll('khan',1234555,7)
print(schooll.no_of_stu)
schooll.stu_dic
print(obj.__dict__)
print(obj2.__dict__)

2
{'name': 'imrn', 'phone': 2234555, 'section': 3, 'stu_id': 1}
{'name': 'khan', 'phone': 1234555, 'section': 7, 'stu_id': 2}

In [1]:
class schol:
    s_name='vikas'
    s_address='hyd'
    count=0
    s_id=0
    def __init__(self,name,phone):
        self.name=name
        self.phone=phone
        schol.id=self.id+

SyntaxError: invalid syntax (701104787.py, line 9)

In [1]:
class schoo:
    s_name='vikas'
    s_phone=879654323
    count=0
    def __init__(self,name,clas):
        self.name=name
        self.clas=clas
        self.rol=schoo.count+1
        schoo.count=schoo.count+1
        

# @classmethod
# def count_inc(cls):
#     count+=1
        
sai=schoo('sai','5th')
saii=schoo('sai','5th')
sas=schoo('sai','5th')
saa=schoo('sai','5th')
saa=schoo('sai','5th')
sa=schoo('sai','5th')
saq=schoo('sai','5th')
sa3=schoo('sai','5th')
print(schoo.count)

8

In [2]:
sai.__dict__

{'name': 'sai', 'clas': '5th', 'rol': 1}

In [4]:
class demo:
    count=0
    def __init__(self,name,age):
        self.name=name
        self.age=age
        self.coun=demo.count+1
        demo.count=demo.count+1
_1=demo('sai',12) 
_2=demo('sai',12)
_3=demo('sai',12)
_4=demo('sai',12)

print(demo.count)

4

In [5]:
_4.__dict__

{'name': 'sai', 'age': 12, 'coun': 4}